/* Write your global styles here, in PostCSS syntax */

@tailwind base;

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@tailwind components;

@tailwind utilities;
